/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  font-family: "IBM Plex Mono", sans-serif;
  background-image: var(--background-image, url(../images/cover-image-dark.png));
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Стили хедера, начало: */

.header {
  position: relative;
  padding: 10px;
  height: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: end;
  align-items: center;
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-button {
  padding: 2px 13px 4px;
  border: solid 1px transparent;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-transform: lowercase;
}

.header__h1 {
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--header-footer-text-color, #DB00FF);
  text-shadow: 4px 4px 0 var(--accent-color, #FF0070);
}

.header__theme-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: var(--accent-text-color, #000028);
  background-color: var(--accent-color, #FF0070);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-top: solid 1px var(--accent-color);
  border-right: solid 1px var(--accent-color);
  top: 10px;
  right: 10px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-bottom: solid 1px var(--accent-color);
  border-left: solid 1px var(--accent-color);
  bottom: 10px;
  left: 10px;
}

.header__rec-element {
  position: absolute;
  top: 10px;
  right: 37px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--accent-color, #FF0070);
}

.header__rec-element::after {
  position: absolute;
  top: 8px;
  left: 41px;
  content: "";
  width: 10px;
  height: 10px;
  background-color: var(--accent-color, #FF0070);
  border: solid 1px var(--accent-color, #FF0070);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color, #FF0070);
}
/* Стили хедера, конец. */


/* Стили основной секции, начало: */
.main-section {
  padding: 10px;
  margin-block-start: 30px;
  display: grid;
  gap: 50px;
}

.section-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: var(--accent-color, #FF0070);
}

.article-list{
  display: grid;
  gap: 20px;
}

.article {
  display: grid;
  gap: 10px;
}

.article-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: var(--article-title-color, #000028);
  background-color: var(--accent-color, #FF0070);
}

.article-title-slim{
  font-weight: 400;
}

.article-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: var(--article-text-color, #F1B2CE);
}

.why-difficult-focus {
  display: grid;
  gap: 20px;
}

.no-focus-reasons {
  display: grid;
  gap: 20px;
}

.how-to-focus {
  display: grid;
  gap: 20px;
}

/* Стили основной секции, конец. */


/* backup of 1 version */
/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

/* .page { */
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
 /*  font-family: "IBM Plex Mono", sans-serif;
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-rows: 25px, 100px, 1fr, 120px, 25px;
  align-items: end;
}

.header::before {
  content: "";
  display: block;
  margin: 10px 10px 40px auto;
  width: 25px;
  height: 25px;
  border-top: solid 1px var(--accent-color);
  border-right: solid 1px var(--accent-color);
}

.rec_element {
  position: absolute;
  top: 0;
  right: 28px;
  justify-self: end;
  margin-block-start: 10px;
  margin-inline-end: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  text-transform: uppercase;
  color: var(--accent-color);
}

.rec_element::after {
  content: "";
  display: block;
  position: absolute;
  top: 7px;
  left: 42px;
  width: 10px;
  height: 10px;
  background-color: var(--accent-color);
  border: solid 1px var(--accent-color);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}


.header__theme-menu {
  justify-self: end;
  margin-inline-end: 10px;
}

.header__theme-menu-list {
  display: grid;
  gap: 12px;
  justify-items: center;
}

.header__theme-menu-button {
  padding: 3px 13px;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: var(--accent-color);
  text-transform: lowercase;
  background-color: transparent;
  border: none;
}

.header__theme-menu-button_type_dark {
  border: solid 1px var(--accent-color);
}

h1 {
  margin-block-start: 65px;
  margin-inline: 10px;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--h1-main-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header-text {
  margin-block-start: 55px;
  justify-self: center;
  margin-inline: 10px;
  background-color: var(--accent-color);
  color: var(--accent-text);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--accent-text);
}

.title-decor-not_bold {
  font-weight: 400;
}

.header::after {
  content: "";
  display: block;
  margin-inline-start: 10px;
  margin-block-start: 30px;
  margin-block-end: 10px;
  width: 25px;
  height: 25px;
  border-bottom: solid 1px var(--accent-color);
  border-left: solid 1px var(--accent-color);
}

.main-section {
  margin-inline: var(--margin-inline-main-section);
}

.section-1 {
  margin-block-start: 40px;
  display: grid;
}

.section-2 {
  margin-block-start: 50px;
  display: grid;
}

.section-3 {
  margin-block-start: 50px;
  display: grid;
}

.section-4 {
  margin-block-start: 50px;
  display: grid;
}

h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: var(--accent-color);
}

h4 {
  margin-block-start: 20px;
  margin-block-end: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
}

h5 {
  margin-block-start: 20px;
  margin-block-end: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
}

.section-4 > h4 {
  margin-block-start: 0;
}

p {
  color: var(--paragraph-text);
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
}

p > a {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

p > a:hover {
  outline: none;
  border: none;
  border-bottom: solid 1px var(--paragraph-text);

}

p > a:focus {
  border: solid 1px var(--paragraph-text);
}

.pictures-part {
  display: grid;
  gap: 10px;
  grid-template-columns: minmax(min-content, max-content);
}

.picture {
  max-width: 100%
}

.footer {
  margin-block-start: 40px;
  font-weight: 700;
  font-size: 116px;
  line-height: 83%;
  color: var(--h1-main-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  text-align: center;
  min-height: 100vh;
}

.footer::before {
  content: "";
  display: block;
  margin-inline-start: auto;
  margin-inline-end: 10px;
  margin-block-start: 50px;
  margin-block-end: 250px;
  width: 25px;
  height: 25px;
  border-top: solid 1px var(--accent-color);
  border-right: solid 1px var(--accent-color);
}

.footer::after {
  content: "";
  display: block;
  margin-inline-start: 10px;
  margin-inline-end: auto;
  margin-block-start: 250px;
  margin-block-end: 10px;
  width: 25px;
  height: 25px;
  border-bottom: solid 1px var(--accent-color);
  border-left: solid 1px var(--accent-color);
}




@media (min-width: 768px) {

  .header::before {
  content: "";
  display: block;
  margin: 20px 20px 0 auto;
  }

  .rec_element {
  top: 12px;
  right: 36px;
  }

  h1 {
    margin-inline: 0;
    margin-block-start: 175px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  h4 {
    margin-block-start: 20px;
  }

  .header__theme-menu {
  margin-block-start: 147px;
  margin-inline-end: 20px;
  }

  .header-text {
    margin-block-start: 160px;
    margin-inline-end: 20px;
    width: 47.5vw;
    justify-self: end;
  }

  .header::after {
  content: "";
  display: block;
  margin-inline-start: 20px;
  margin-block-start: 138px;
  margin-block-end: 20px;
  }

  .section-1 {
    margin-block-start: 60px;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .kostyl-1 {
    margin-block-start: 0;
  }

  .section-2 {
    margin-block-start: 80px;
  }

  .no_focus_reason {
    width: min-content;
  }

  .section-3 {
    margin-block-start: 80px;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .section-4 {
    margin-block-start: 80px;
  }
  
  .section-4 h4 {
    margin-block-end: 20px;
  }

  .pictures-part {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: fit-content, fit-content, fit-content;
    gap: 20px;
    grid-template-areas: 
    "pic-1 pic-1 pic-2"
    "pic-3 pic-4 pic-2"
    "pic-3 pic-5 pic-5";
  }

  .pic-1 {
    grid-area: pic-1;
    object-fit: cover;
    height: 100%;
  }

  .pic-2 {
    grid-area: pic-2;
    object-fit: cover;
    height: 100%;
  }

  .pic-3 {
    grid-area: pic-3;
    object-fit: cover;
    height: 100%;
  }

  .pic-4 {
    grid-area: pic-4;
    object-fit: cover;
    height: 100%;
  }

  .pic-5 {
    grid-area: pic-5;
    object-fit: cover;
    height: 100%;
  }

  .footer {
    margin-block-start: 60px;
    font-size: 120px;
}

.footer::before {
  content: "";
  display: block;
  margin-inline-start: auto;
  margin-inline-end: 20px;
  margin-block-start: 80px;
  margin-block-end: 417px;
}

.footer::after {
  content: "";
  display: block;
  margin-inline-start: 20px;
  margin-inline-end: auto;
  margin-block-start: 416px;
  margin-block-end: 20px;
}

}



@media (min-width: 1024px) {
  
  .header {
  grid-template-rows: 25px, 1fr, 70px, 25px;
}

  .header__theme-menu {
    margin: 0;
    justify-self: center;
  }
  
  .header__theme-menu-list {
  display: flex;
  gap: 10px;
  margin: 0;
  margin-block-start: -25px;
  }

  h1 {
    margin: 0;
    margin-block-start: 275px;
  }

  .header-text {
    margin: 0;
    margin-block-start: 112px;
    margin-inline-end: 20px;
    width: 48vw;
  }

  .header::after {
    margin: 0;
    margin-block-start: 90px;
    margin-inline-start: 20px;
  
  }

  .section-1 {
    margin-block-start: 80px;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
  }

  .section-2 {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-template-areas:
    "no_focus_reason . ."
    "no_focus_reason_title-1 no_focus_reason_title-2 no_focus_reason_title-3"
    "no_focus_reason_text-1 no_focus_reason_text-2 no_focus_reason_text-3";
  }

  .no_focus_reason {
  grid-area: no_focus_reason;
  width: 100%;
  }

  .no_focus_reason_title-1 {
    grid-area: no_focus_reason_title-1;
  }

  .no_focus_reason_title-2 {
    grid-area: no_focus_reason_title-2;
  }

  .no_focus_reason_title-3 {
    grid-area: no_focus_reason_title-3;
  }

  .no_focus_reason_text-1 {
    grid-area: no_focus_reason_text-1;
    margin-block-start: -10px;
  }

  .no_focus_reason_text-2 {
    grid-area: no_focus_reason_text-2;
    margin-block-start: -10px;
  }

  .no_focus_reason_text-3 {
    grid-area: no_focus_reason_text-3;
    margin-block-start: -10px;
  }

  .section-2 h3 {
  margin: 0;
}

.section-2 h4 {
  margin: 0;
}

.section-3 {
    gap: 10px;
  }

.footer {
  margin: 0;
    font-size: 157px;
}

.footer::before {
  margin: 0;
  margin-inline-start: auto;
  margin-inline-end: 20px;
  margin-block-start: 80px;
  margin-block-end: 275px;
}

.footer::after {
  margin-inline-start: 20px;
  margin-inline-end: auto;
  margin-block-start: 270px;
  margin-block-end: 20px;
}

}
 */
