/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color: #FF0070;
  --accent-text-color: #000028;
  --header-footer-text-color: #DB00FF;
  --article-title-color: #000028;
  --article-text-color: #F1B2CE;


  --background-image: url(../images/cover-image-dark.png);
}







/* backup of 1 version */

/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
/* :root {
  --h1-main-color: #DB00FF;  
  --accent-color: #ff0070;
  --accent-text: #000028;
  --paragraph-text: #F1B2CE;
  --background-image: url(../images/cover-image-dark.png);
  --margin-inline-main-section: 10px;
}

@media (min-width: 768px) {
  :root {
    --margin-inline-main-section: 20px;
  }
} */