/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color: #FF0070;
  --accent-text-color: #000028;
  --header-footer-text-color: #DB00FF;
  --article-title-color: #000028;
  --article-text-color: #F1B2CE;
  --section-title-color: #FF0070;
  --decor-corners-color: #FF0070;
  --button-color: #FF0070;
  --button-hover-color: #FF007066;

  --background-image: url(../images/cover-image-dark.png);
}
